profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: MINIMAP2_INDEX{
               conda = "${baseDir}/mapping_env.yml"
         }
         withName: MINIMAP2_SAM{
               conda = "${baseDir}/mapping_env.yml"
         }
         withName: SAM_SORT_AND_INDEX{
               conda = "${baseDir}/mapping_env.yml"
         }
         withName: EXTRACT_MICROBIAL_READS{
               conda = "${baseDir}/mapping_env.yml"
         }
         withName: BAM_STATISTICS{
               conda = "${baseDir}/mapping_env.yml"
         }
         
      }

   }

}
